/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.button {
    background-color: #fe775a;
    border-radius: 5px;
    color: white;
    padding: 20px 30px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Three Col */
.three-col .col {
    width: 30%;
}
.three-col .col:nth-child(2) {
    margin: 0 5%;
}

/* Two Col */
.two-col .col-sx{
    width: 40%;
}

.two-col .col-dx{
    width: 60%;
}

/* Single Col */
.single-col {
    width: 25%;
}
.container {
    padding: 0 20%;
}

.text {
    color: #32495b;
}


.popolar-feature {
    text-transform: uppercase;
    color: #32495b;
}


.text-cen {
    text-align: center;
}

/* HEADER */
header a,i {
    display: inline-block;
    color: #32495b;
    text-decoration: none;
}

.fa-chevron-down, .fa-globe-europe {
    margin: 30px 5px;
}

header .h-top {
    background-color: #f4f9fd;
    border-bottom: 2px solid #32495b;
}

/* Nav */
.col {
    float: left;
}

.nav-top i {
    vertical-align: middle;
}

/* Col Left */
.col-left {
    width: 50%;
}

#contact-us {
    border-left: 1px solid #32495b;
    padding: 0 15px;
}

.col-left img {
    margin: 20px 0;
    width: 20%;
}

/* Col Right */
.col-right {
    width: 50%;
    text-align: right;
}

.fa-search {
    color: #00a4bd;
    margin: 0 20px;
}

.col-right a {
    margin: 20px 10px;
}

.navigator {
    padding: 10px 20px;
    font-size: 16px;
}

.login {
    color: #fe775a;
    border: 1px solid #fe775a;
    padding: 10px 20px;
    border-radius: 5px;
}
/* End Nav */

/* Banner */
.banner {
    height: 550px;
    background-color: #fff4ef;
    background-image: url(../img/jumbotron.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 100% 200%;
}

.ban-ret {
    height: 75px;
    background-color: #afebe4;
    border-top: 2px solid #32495b;
    border-bottom: 2px solid #32495b;
}

.ban-text {
    padding: 35px 500px 0 0;
    color: #32495b;
}

.ban-text h1 {
    font-size: 50px;
}

.ban-text p {
    line-height: 30px;
    margin-top: 20px;
}

.ban-text a {
    margin: 20px 0;
}

.ban-text h5 {
    font-size: 12px;
}
/* END HEADER */

/* MAIN */

/* Section Topper */
.sec-top {
    background-color: #f4f9fd;
}

.center {
    text-align: center;
    padding: 45px 50px;
}

.center img {
    width: 30%;
}

.text h2 {
    font-size: 32px;
}

.text h3 {
    margin: 7% 0;
    font-size: 20px;
}

.text p {
    margin: 30px 5px;
    line-height: 30px;
}

/* Two col */
.col-bg{
    background-color: white;
    border: 1px solid #e6ecf1;
    border-radius: 5px;
    margin-bottom: 5%;
}


.check-horizontal .check{
    display: inline-block;
    margin: 15px 10px;
}

.img-but {
    text-align: center;
}

#img-freehub {
    margin: 20px 0;
}

.img-but a {
    margin: 20px 130px;
}

/* Colonne */
.col-bg img {
    height: 100px;
    margin: auto;
}

.divider {
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #899397;
    margin: 30px;
}

.three-col .col {
    padding: 5% 3%;
}

span .check {
    display: inline-block;
}

.check {
    font-size: 14px;
    text-align: left;
}

.check i {
    color: #fe775a;
    margin-right: 20px;
}

.d-but {
    padding: 40px 0;
}

/* Section Middle */

.sec-mid .container {
    background: rgb(0,212,255);
    background: linear-gradient(16deg, rgba(0,212,255,1) 0%, rgba(9,118,121,1) 100%, rgba(2,0,36,1) 100%);
}

.sec-mid .text {
    color: white;
    text-align: center;
    padding: 50px 0;
}

.sec-mid p {
    font-size: 14px;
}

.single-col h5{
    font-weight: 300;
}

.number {
    font-size: 40px;
    font-weight: 700;
    padding: 15px 0;
}

.bord {
    border-bottom: 1px solid white;
}

.bord-right {
    border-right: 1px solid white;
}

.sec-mid .container {
    padding-bottom: 70px;
}

/* Section Bottom */


/* END MAIN */

/* FOOTER */
/* END FOOTER */