/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.button {
    background-color: #fe775a;
    border-radius: 5px;
    color: white;
    padding: 20px 30px;
    font-size: 14px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    padding: 0 20%;
}

.text {
    color: #32495b;
    line-height: 30px;
}

/* HEADER */
header a,i {
    display: inline-block;
    margin: 30px 5px;
    text-decoration: none;
    color: #32495b;
}

header .h-top {
    background-color: #f4f9fd;
    border-bottom: 2px solid #32495b;
}

/* Nav */
.col {
    float: left;
}

.nav-top i {
    vertical-align: middle;
}

/* Col Left */
.col-left {
    width: 50%;
}

#contact-us {
    border-left: 1px solid #32495b;
    padding: 0 15px;
}

.col-left img {
    margin: 20px 0;
}

/* Col Right */
.col-right {
    width: 50%;
    text-align: right;
}

.fa-search {
    color: #00a4bd;
    margin: 0 20px;
}

.col-right a {
    margin: 20px 10px;
}

.navigator {
    padding: 10px 20px;
    font-size: 16px;
}

.login {
    color: #fe775a;
    border: 1px solid #fe775a;
    padding: 10px 20px;
    border-radius: 5px;
}
/* End Nav */

/* Banner */
.banner {
    height: 550px;
    background-color: #fff4ef;
    background-image: url(../img/jumbotron.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 100% 200%;
}

.ban-ret {
    height: 75px;
    background-color: #afebe4;
    border-top: 2px solid #32495b;
    border-bottom: 2px solid #32495b;
}

.ban-text {
    padding: 35px 500px 0 0;
    color: #32495b;
}

.ban-text h1 {
    font-size: 50px;
}

.ban-text p {
    line-height: 30px;
    margin-top: 20px;
}

.ban-text a {
    margin: 20px 0;
}

.ban-text h5 {
    font-size: 12px;
}
/* END HEADER */

/* MAIN */

/* Section Top */
.sec-top {
    background-color: #f4f9fd;
}

.center {
    text-align: center;
    padding: 45px 50px;
}

.center img {
    width: 30%;
}

.text h2 {
    font-size: 32px;
}

.text p {
    margin: 30px;
}

/* Row & Pillar */
.row-pil *{
    background-color: white;
    border: 1px solid #e6ecf1;
    border-radius: 5px;
    margin-bottom: 5%;
}

.row {
    height: 250px;
}

.row-pil .col {
    width: 30%;
    height: 500px;
}

.pil-center {
    margin: 0 5%;
}
/* END MAIN */

/* FOOTER */
/* END FOOTER */